body {
  background-color: gray;
  font-family: arial;
}

Header {
  Padding-top: 15px;
  padding-bottom: 15px;
  background-image: url("website-design-background-1.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}

nav {
  background-color: white;
  text-align: center;
  margin-top: 50px;

}

nav ul li{
  font-size: 18px;
  display: inline;
  margin: 30px;

}

main {
  text-align: center;
  margin-top: 50px;
}

main .photo {
  display: inline-block;
  border: 3px solid black;
  padding: 0;
  margin: 0;
}

main .info {
  color: white;
  font-weight: bold;
}

footer {
  text-align: center;
  margin-top: 50px;
  opacity:
}

footer .other {
  display: inline-block;
  font-size: 15px;

}

.contact {

}
